<!DOCTYPE html>
{% extends blog/base.html %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <h2>Pleae Login</h2>
  <h3>Must be a SuperUser, Please Check with the site admin</h3>
  {% if form.errors %}
    <p>Your User name is incorrect or your password is incorrect</p>
  {% endif %}

  <form  action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {% form.as_p %}
    <input type="submit" class="btn btn-primary" value="Login">
    <input type="hidden" name="next" value="{{next}}">


  </form>



</div>


{% endblock %}
